<% provide(:title, "Редактирование пользователя") %>

<div class = "container" style = "margin-top:20px;">
  <div class="row profile">
    <div class="col-md-3 col-sm-12 col-xs-12" style = "padding:0px;">
      <div class="profile-sidebar">
        <div class="profile-usermenu">
          <ul class="nav">
            <li class = "active">
              <%= link_to "Профиль", current_user %>
            </li>
            <li>
              <a href="#">
              <i class="fa fa-list"></i>
              Мои заказы </a>
            </li>
            <li>
              <a href= <%= edit_user_path(current_user) %>>
              <i class="fa fa-cog"></i>
              Настройки аккаунта </a>
            </li>
            <li>
              <%= link_to "Выход" , logout_path, method: "delete" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Подтверждение пароля" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Сохранить изменения", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>    
