<% provide(:title, 'Каталог') %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div id="col-lg-8 col-lg-offset-1 col-md-10 col-sm-12 col-xs-12">
  <% @products.each_slice(4) do |product| %>
    <div class="row">
      <% product.each do |product| %>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 item-container">
          <table>
            <tr>
              <td colspan = "2" class = "item-table"><%= image_tag(product.image_url) %></td>
            </tr>
            <tr>
              <td class = "item-table text-g14 item-table-td"><%= product.title %></td>
              <td rowspan = "2" class = "item-table center-content">
                <a href = "#">
                  <i class="fa fa-cart-arrow-down fa-2x text-g"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class = "item-table text-g14 item-table-td">Размер: 100x100 см</td>
            </tr>
            <tr>
              <td colspan = "2" class = "text-price"><%= number_to_currency(product.price) %></td>
            </tr>
          </table>
          <%= link_to 'Read_more', product_path(product), class:'btn btn-primary', style:'min-width:200px' %>
          <%= button_to 'Добавить в корзину', line_items_path(product_id: product), remote: true , class:'btn btn-primary', style:'min-width:200px' %>
        </div>
      <% end %> 
    </div>
  <% end %>
</div>                  
