<header>
    <div class = "container">
        <div class = "row head-container">
            <div class = "col-lg-4 col-md-4">
              <div class = "img-responsive center-content logo">
              <%= link_to image_tag("logo.png", alt: "Tamm logo"), root_path %>
              </div>
            </div>
            <div class = "col-lg-4 col-md-4">
                <h1 class = "text-phone center-content">8 (952) 621 78 86</h1>
                <div class = "row center-content">
                    <div class="col-sm-3 hidden-lg hidden-md"></div>
                    <div class = "col-lg-6 col-md-6 col-sm-3">
                        <a href = "#" class = "btn btn-sky btn-head">ЗАКАЗАТЬ ЗВОНОК</a>
                    </div>
                    <div class = "col-lg-6 col-md-6 col-sm-3">
                        <a href = "#" class = "btn btn-sky btn-head" style = "margin-bottom:10px;">НАПИСАТЬ НАМ</a>
                    </div>
                    <div class="col-sm-3 hidden-lg hidden-md"></div>
                </div>
            </div>
            <div class = "col-lg-4 col-md-4">
                <div class = "container bag-container img-responsive">
                    <a href = <%= cart_path(@cart) %>>
                    <table class= "bag-table">
                        <tr>
                            <th rowspan="3" class = "bag-table-icon"><i class="fa fa-shopping-cart fa-2x text-g"></i></th>
                            <th class = "text-g14 bag-table-th">КОРЗИНА</th>
                        </tr>
                        <tr>
                            <td class = "text-g14 bag-table-td">Товаров:</td>                                        
                                <% if @cart %>
                                    <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>                   
                                        <td class = "text-g14 bag-table-td"><%= (@cart.total_items) %></td>
                                    <% end %>                                       
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td class = "text-g14 bag-table-td">На сумму:</td>                                       
                                <% if @cart %>
                                    <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                                        <td class = "text-g14 bag-table-td"><%= number_to_currency(@cart.total_price) %></td>
                                    <% end %>                                                                    
                                <% end %>       
                            </td>                                            
                        </tr>
                    </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>